@media (min-width: 1024px) {
    .container {
        max-width: 970px;
    }
}

h1{
  font-size:24px;
}

.col-lg-2{
/*width:11.6667%;*/
}

table {
width:100%;
}

* {
    margin: 0;
    word-wrap: break-word;
    word-break:break-all;
}

a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:active{text-decoration:none;}

html, body {
    font-family: Microsoft Yahei,arial;
    height: 100%;
    margin: 0;
    min-width: 320px;
    padding: 0;
    width: 100%;
}

#wrapper {
    height: auto !important;
    margin: 0 auto -40px;
    min-height: 100%;
  padding-bottom:40px;
}

.m0{
margin:0px;
}
.div-profile-box{margin-top: 50px; }
.div-profile-box .logo img{margin-left: -50px;}
.div-profile-box .logo{text-align: center;}
.copyright{text-align: center;color: gray;padding-top: 10px;}
.good{text-align: center; padding-top: 30px; font-size: 0.9em; color: gray; display:none;}
.x-item .tail{color:gray; font-size: .8em;}
.x-item .title{font-size:1.1em;}
.x-item .ctime{font-size: .9em; color: gray; }
.x-item .files{font-size: .9em;}
.x-item .files li{list-style-type: none;}
.x-item .files ul{padding: 5px 5px 0 0;}
.x-item {overflow: hidden; word-break: break-all;}
.highlight{color: red;}

.footer {
    background: none repeat scroll 0 0 #f2f2f2;
    border-top: 1px solid #e4e4e4;
    color: #666;
    font-size: small;
    height: 39px;
    line-height: 39px;
    text-align: center;
    width: 100%;
}

.footer a{
  color:#666;
}
